# Latex auxiliary files
*.aux
*.log
*.fls
*.dvi
*latexmk
*.synctex.gz
*.pdf

.opam
_opam
_build
*.native
.ocaml-sentinal
*.output
parser.ml
parser.mli
*.zip
:merlin-log:

# Ignore vim session files
*.vim
