# Latex auxiliary files
*.aux
*.log
*.fls
*.dvi
*latexmk
*.synctex.gz
*.pdf

# Build artifacts
.opam
_opam
_build
*.native
.ocaml-sentinal
*.output
parser.ml
parser.mli
*.zip
:merlin-log:
local.mk

# LLVM IR
*.ll

# Binaries
a.out
output
output.s
runtime.o

# Ignore vim session files
*.vim
